

<div class="base-shelve">
    <div class="shelf-top">
       <div class="shelf-tag">
          <p class="shelf-title">favorite movies ever</p>
       </div>
    </div>
    <div class="levels">

        <shelf-levels [shelvesType]="shelvesType" [itemList]="shelvesLevels"></shelf-levels>
    </div>
</div>

<div class="tv-container">
    <div class="tv-trailers">

        <div
          class="tv-trailers-mask"
        >
          <iframe class="video" [src]="getTrailer(selectedIndex)" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</div>


