<div class="shelf-level">
    <img *ngIf="screenWidth > 1134" class="radio-01" src="assets/images/movie-artifacts/fifties-television.png" />
    <div (click)="play()" class="lp">
      <img class="cover-image" [src]="'assets/images/movie-covers/' + selectedItem.cover" />
    </div>
    <div
      class="tv"
      [ngStyle]="{ 'background-image': 'url(assets/images/movie-scenes/' + selectedItem.scene + ')'}"
    >
      <img class="scene-image" src="assets/images/movie-artifacts/sixties-television.png" />
    </div>
    <!-- <img  *ngIf="screenWidth > 890" class="radio-02" src="assets/images/movie-artifacts/sixties-television.png" /> -->
    <img *ngIf="screenWidth > 600" class="lp-reproducer" src="assets/images/movie-artifacts/small-tv.png" />
</div>
